<ion-header>
  <navbar title="All Scores">
    <ng-container class="buttons">
      <button ion-button class="refresh" (click)="onClickRefreshButton()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ng-container>
  </navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="!!activeFilter">
    <ion-segment [ngModel]="activeFilter" (ngModelChange)="onChangeActiveFilter($event)">
      <ion-segment-button *ngFor="let filter of filters" [value]="filter">
        {{filter.text}}
      </ion-segment-button>
    </ion-segment>
    <item-group-accordion *ngFor="let group of this.visibleSongGroupings" color="light" [groupName]="group.grouping" [items]="group.songs">
      <ng-template let-song="item">
        <scores-song [song]="song"></scores-song>
      </ng-template>
    </item-group-accordion>
  </ng-container>
</ion-content>