<ion-header>
  <navbar title="All Scores">
    <ng-container class="buttons">
      <button ion-button class="refresh" (click)="onClickRefreshButton()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ng-container>
  </navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="!!activeFilter">
    <ion-segment [(ngModel)]="activeFilter">
      <ion-segment-button *ngFor="let filter of filters" [value]="filter">
        {{filter.text}}
      </ion-segment-button>
    </ion-segment>
    <ion-item-group *ngFor="let group of this.getVisibleSongGroupings()">
      <ion-item-divider color="light">{{group.grouping}}</ion-item-divider>
      <scores-song *ngFor="let song of group.songs" [song]="song"></scores-song>
    </ion-item-group>
  </ng-container>
</ion-content>