scores-song {
    .song {
        .song-title {
            font-family: "Source Hans Serif"
        }
    }

    .item-end {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .score-icon {
            display: inline-flex;
            align-self: center;
            justify-self: center;
            align-items: center;
            justify-content: center;

            img {
                width: 34px;
                height: 24px;
            }
        }

        .score {

        }
    }
}